@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body{

	font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    text-align: center;
    background: url('../images/bg.jpg');
    background-attachment: fixed;
    background-repeat: 	no-repeat;	
    background-size: cover;
}

header{

	padding-top: 100px;
	padding-bottom: 100px;
	line-height: 1;
	text-align: center;
	color: #fff;
}

header h1{

	font-size: 55px;
	margin: 0;
}

header small{

	font-weight: 10;
}

.decoration-line{

	width: 10%;
	background: #ccc;
}

.wrapper{

	margin: auto;
	width: 95%;
	background: #f7f7f7;
}

.wrapper img{

	display: block;
	width: 100%;
}

#banner img{

	width: 100%;
}

#section-a{

	background: #fff;
	padding: 20px;
}

#section-a p{

	color: #ccc;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#section-b{

	text-align: left;
	font-size: 15px;
	color: #aaa;
	padding: 20px;
}

#section-c{

	background: #222;
	padding: 5%;
	color: #fff;
}

#section-c #image-boxes #heading-section{

	background: #111;
	line-height: 1;
	padding: 30px;
}

#section-c #image-boxes #heading-section p{

	color: #ccc;
	text-transform: uppercase;
}

.spotlight .content{

	padding: 30px;
	/*position: relative;*/
}

#spotlight-2 .content{

	background: #1e1f1e;
}

#spotlight-2 .content h3{

	color: #fff;
}

#spotlight-2 .content p{

	color: #ccc;
}

.spotlight .content #circles{
	/*border: 10px #000 solid;*/
	/*position: absolute;*/
	bottom: 0;
}

#circles .circle{

	box-sizing: border-box;
	width: 10px;
	height:10px;
	border-radius: 50%;
	display: inline-block;
}

#circles .circle-white{

	border: 5px #fff solid;
}

#circles .circle-black{

	border: 5px #333 solid;
}

#main-footer{

	color: #f4f4f4;
	padding: 0 10px 0 10px;
	font-size: 12px;
}

#main-footer ul{

	list-style: none;
}

#main-footer ul li{

	display: inline;
	margin: 10px;
}

#main-footer .icon img{

	width: 20px;
}

@media(min-width: 700px){

	.wrapper{

		width: 	88%;
	}

	#section-b{
		padding: 100px;
	}

	.flex{

		display: flex;
	}

	#image-section{

		flex-wrap: wrap;
	}

	#image-boxes #image-section img{

		width: 50%;
	}

	.grid{

		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#spotlight-2 img{

		grid-row: 1;
		grid-column: 2;

	}

	#spotlight-2 .content{

		grid-row: 1;
		grid-column: 1;
	}
}